:root {
	--start-color: #6fb4f7;
	--end-color: #1a82fb;
}

.bookmarks-dropdown-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
	position: sticky;
	bottom: 1.5rem;
}

/* Enter into custom mode */
select,
::picker(select) {
	appearance: base-select;
}

option::checkmark,
select::picker-icon {
	display: none;
}

/* --- */
/* Styling the options list */
::picker(select) {
	border-radius: 0.5rem;
	padding: 0;
	margin-top: 4px;
	box-shadow: 0px 12.8px 28.8px rgba(54, 52, 52, 0.6), 0px 0px 9.2px rgba(0, 0, 0, 0.11);
	border: 5px solid rgba(0, 128, 255, 0.6);
}

option {
	grid-template-columns: 1rem 1fr;
	padding: 0px 1rem;
	background-color: rgb(42, 42, 42);

	&:nth-child(even):not(:hover) {
		background: rgb(32, 32, 32);
	}

	&:hover {
		background: rgb(32, 123, 232);
		outline: 3px solid rgba(0, 128, 255, 0.6);
		outline-offset: 0px;
	}
}

/* Styles for both the options and selectedcontent */
option,
selectedcontent {
	display: flex;
	justify-content: space-between;
	gap: 0.8rem;
	font-size: 1rem;
	align-items: center;
	justify-content: start;
	color: white;
}

/* Style what you see before you open the select dropdown */

select {
	border: 2px solid rgba(0, 128, 255, 0.8);
	border-radius: 9999px;
	padding: 0.7em 3.5em 0.7em 1.5em;
	width: auto;
	cursor: pointer;

	/* --- Background Magic --- */
	/* We'll define two background layers. The first one listed is on top. */

	background-image: linear-gradient(#fcfcfc 40%, #ececec 55%), linear-gradient(#6fb4f7, #1a82fb);

	background-size: calc(100% - 25px) 100%, 100% 100%;

	background-position: left center, right center;

	background-repeat: no-repeat;

	/* Ensure text color is readable on both backgrounds */
	color: black;
}

.arrow-container {
	display: flex;
}

.arrow {
	align-self: end;
	transition: rotate 0.25s;
	background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 12" fill="none" stroke="%23fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath d="M2,4 l3,-3 3,3"/%3E%3Cpath d="M2,8 l3,3 3,-3"/%3E%3C/svg%3E')
		no-repeat center 1em;
	background-size: 0.8em, 100%;
	background-position: right;
	width: 1rem;
	height: 1rem;
	margin-left: -1.5rem;
	pointer-events: none;

	.bookmarks-dropdown:open & {
		rotate: x 180deg;
	}
}
