.folder-list-scrollable-area {
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 2.5rem;
}

.folder-list-item {
	display: flex;
	align-items: center;
	padding: 0px 12px;
	cursor: pointer;
	border-radius: 0px;
	margin-bottom: 2px;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	border: 1px solid transparent;
}

.folder-list-item:hover {
	background: linear-gradient(to top, #2c8dfb, #83bffa);
}

.folder-list-item:focus {
	outline: 2px solid #3b82f6;
	outline-offset: 1px;
}

.folder-list-item.selected {
	background: linear-gradient(to top, #2c8dfb, #83bffa);
	color: #ffffff;
	font-weight: 500;
	border-color: #1a76df;
}

.folder-emoji {
	margin-right: 10px;
	font-size: 1.1em;
	display: inline-block;
	width: 20px;
	text-align: center;
}

.folder-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
}

.folder-list-loading,
.folder-list-error,
.folder-list-empty {
	padding: 15px;
	text-align: center;
	color: #555;
	font-style: italic;
}

.folder-list-container {
	display: flex;
	flex-direction: column;
	height: auto;
	overflow: hidden;
}

.folder-list-content {
	flex: 1 1 auto;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.folder-list-footer {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	bottom: 0;
	margin-top: 0;
	padding: 12px 10px;
	flex-shrink: 0;
	z-index: 1;
}

.add-folder-button {
	font-size: 1em;
	border-radius: 9999px;
	font-size: 0.9em;
	width: 2.5rem;
	color: white;
	cursor: pointer;
}

.add-folder-button:focus {
	outline: 2px solid #3b82f6;
	outline-offset: 2px;
}
