.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 18px;
	padding: 1rem;
	position: sticky;
	top: 10px;
	z-index: 5;
	background: linear-gradient(to bottom, #3a3c4d 0%, #2c2e3c 50%, #252634 51%, #38394a 100%);
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 4px 12px rgba(0, 0, 0, 0.3);
	border-radius: 9999px;
}

.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.title-container {
	display: flex;
	align-items: center;

	img {
		margin-right: 8px;
	}
}

.clerk-user-container {
	width: auto;
}

.icon-button-container {
	display: flex;
	width: 32px;
	height: 32px;
	border: none;
	margin: 8px;
	border-radius: 6px;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s ease, outline-color 0.2s ease, box-shadow 0.2s ease;
	outline: 3px solid transparent;
	outline-offset: 4px;
	position: relative;
}

.icon-button-container:hover {
	outline: 3px solid rgba(0, 128, 255, 0.6);
	outline-offset: 0px;
	box-shadow: 0 0 6px 0px rgba(0, 128, 255, 0.6);
}

.icon-button-container:active {
	background: linear-gradient(to bottom, #7c7d82 0%, #6c6e75 100%);
	box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.5);
}

.icon-button {
	width: 32px;
	height: 32px;
	border: 2px solid transparent;
	cursor: pointer;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border-radius: 4px;
	transition: background-color 0.2s ease, box-shadow 0.2s ease, outline-offset 0.2s ease;
}

.icon-button.active {
	background: linear-gradient(to bottom, #7c7d82 0%, #6c6e75 100%);
	box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.5);
}

.glasses-button,
.bookmarks-button,
.topsites-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.glasses-button img,
.bookmarks-button img,
.topsites-button img {
	width: 22px;
	height: 22px;
	display: block;
}
