@layer system, components, utilities;

@import "./fonts.css" layer(system);
@import "./header.css" layer(components);
@import "./curved.css" layer(components);

@view-transition {
	navigation: auto;
}

@layer system {
	html {
		font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe UI", "Helvetica Neue", sans-serif;
		color: white;
	}
}
