.bookmarks-container {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.placeholder-message,
.loading-message,
.error-message,
.empty-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	color: #777;
	font-style: italic;
	padding: 20px;
}

.error-message p {
	color: #d9534f;
	font-style: normal;
}

/* --- Styles for Table Option --- */
.bookmark-table a {
	text-decoration: none;
	all: unset;
	cursor: pointer;
}

.bookmark-table {
	width: 100%;
	border-collapse: collapse;
	font-size: 0.9em;
	table-layout: fixed;
	color: white;
}

.bookmark-table th,
.bookmark-table td {
	padding: 2px 12px;
	text-align: left;
	vertical-align: middle;
}

.bookmark-table th {
	background: linear-gradient(to top, #646464 2%, #303030 30%, #646464 90%, #f9fafb 100%);
	font-weight: bolder;
	position: sticky;
	top: 0;
	z-index: 1;
}

.bookmark-table tr {
	background-color: rgb(42, 42, 42);

	&:nth-child(even):not(:hover) {
		background: rgb(32, 32, 32);
	}

	&:hover {
		background: rgb(32, 123, 232);
		outline: 3px solid rgba(0, 128, 255, 0.6);
		outline-offset: 0px;
		color: white;
		font-weight: bolder;

		.action-button {
			display: flex;
		}
	}
}

.favicon-img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.th-favicon,
.td-favicon {
	width: 40px;
	text-align: center;
}

.th-name,
.td-name {
	width: 25%;
}

.th-url,
.td-url {
	width: 50%;
}

.th-actions,
.td-actions {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	height: 1.5rem;
}

.td-name a,
.td-url a {
	text-decoration: none;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.td-name a:hover,
.td-url a:hover {
	text-decoration: underline;
}

.action-button {
	display: none;
}

.td-actions .action-button:hover {
	opacity: 1;
}

.action-button {
	font-size: 0.8em;
	padding: 2px 8px;
	max-width: fit-content;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border-radius: 9999px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	transition: all 0.1s ease-in-out;
}
