---
import { UserButton } from "@clerk/astro/components";

const { username } = Astro.params;
const request = Astro.request;

// Get Clerk auth from the request
// const { userId, sessionId } = getAuth(request);
---

<h1>Welcome {username}!</h1>
<UserButton showName />
