---
import "../styles/index.css";
import LandingLayout from "../layouts/LandingLayout.astro";
import LandingPage from "./landingPage.astro";
---

<LandingLayout title="La Bibliotecaria">
	<main class="main-container"><LandingPage /></main>
</LandingLayout>
